/* You can add global styles to this file, and also import other style files */

body {
  background-color: #b9b9b9;
  display: flex;
  justify-content: center
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}
